<h1>All streams</h1>

<table>
	<tr>
		<th>Title</th>
		<th>Description</th>
		<th>Date</th>
		<th>Time</th>
		<th>URL</th>
		<th>Stream URL</th>
	</tr>

  <% @streams.each do |stream| %>
    <tr>
		<td>
			<%= stream.title %>
		</td>
		<td>
			<%= stream.desc %>
		</td>
		<td>
			<%= stream.stream_date %>
		</td>
		<td>
			<%= stream.stream_time %><%= stream.time_zone %>
		</td>
		<td>
			<%= stream.url %>
		</td>
		<td>
			<%= stream.stream_url %>
		</td>      
    </tr>
  <% end %>
</table>
