<h1>New Stream</h1>

<%= simple_form_for :stream, url: streams_path do |form| %>
	<p>
		<%= form.input :title %>
	</p>
	<p>
		<%= form.text_area :desc, as: :text, label: 'Description' %>
	</p>
	<p>
		<%= form.input :stream_date, input_html: { class: 'datepicker' } %>
	</p>
	<p>
		<%= form.input :stream_time, input_html: { class: 'timepicker' } %><%= form.input :time_zone %>
	</p>
	<p>
		<%= form.input :url, as: :url %>
	</p>
	<p>
		<%= form.input :stream_url, as: :url %>
	</p>
	<p>
		<%= form.button :submit, 'Submit', class: 'submit' %>
	</p>
<% end %>