<h1>New Stream</h1>

<%= form_for :stream, url: streams_path do |form| %>
	<p>
		<%= form.label :title %>
		<%= form.text_field :title %>
	</p>
	<p>
		<%= form.label :desc %>
		<%= form.text_area :desc %>
	</p>
	<p>
		<%= form.label :date %>
		<%= form.text_field :date %>
	</p>
	<p>
		<%= form.label :time %>
		<%= form.text_field :time %>
	</p>
	<p>
		<%= form.label :url %>
		<%= form.text_field :url %>
	</p>
	<p>
		<%= form.label :streamurl %>
		<%= form.text_field :streamurl %>
	</p>
	<p>
		<%= form.submit %>
	</p>
<% end %>