<p>
	<strong>Title:</strong>
	<%= @stream.title %>
</p>
<p>
	<strong>Description:</strong>
	<%= @stream.desc %>
</p>
<p>
	<strong>Date:</strong>
	<%= @stream.date %>
</p>
<p>
	<strong>Time:</strong>
	<%= @stream.time %>
</p>
<p>
	<strong>URL:</strong>
	<%= @stream.url %>
</p>
<p>
	<strong>Stream URL:</strong>
	<%= @stream.streamurl %>
</p>