<p>
	<strong>Title:</strong>
	<%= @stream.title %>
</p>
<p>
	<strong>Description:</strong>
	<%= @stream.desc %>
</p>
<p>
	<strong>Date:</strong>
	<%= @stream.stream_date %>
</p>
<p>
	<strong>Time:</strong>
	<%= @stream.stream_time %><%= @stream.time_zone %>
</p>
<p>
	<strong>URL:</strong>
	<%= @stream.url %>
</p>
<p>
	<strong>Stream URL:</strong>
	<%= @stream.stream_url %>
</p>